.swiper {


  .best-offer__card {
    gap: 15px;
  }

  .best-offer__card-section {
    padding-bottom: 15px;
  }

  .best-offer__card-text {
    padding: 0 20px;
  }


  .best-offer__card-link {
    display: flex;
    position: static;
    transform: none;
    justify-content: start;
    padding: 0 20px 20px;
  }
}

.best-offer__swiper-wrapper {
  margin-bottom: 40px;
  max-height: 575px;
  height: auto;
}

.best-offer__swiper {
  padding-bottom: 20px;
}