.types {
  margin-top: 140px;
}

.types__inner {
  background-image: url('./../img/types/idin-architects-ka-house1.png');

  background-position: center center; // x y
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 472px;
  border-radius: $border-radius;
  transition: background-image 0.2s ease-in;

  display: flex;

  &.img1 {
    background-image: url('./../img/types/idin-architects-ka-house4.png');
  }

  &.img2 {
    background-image: url('./../img/types/idin-architects-ka-house5.png');
  }

  &.img3 {
    background-image: url('./../img/types/idin-architects-ka-house3.png');
  }

  &.img4 {
    background-image: url('./../img/types/idin-architects-ka-house2.png');
  }

  &.img5 {
    background-image: url('./../img/types/idin-architects-ka-house1.png');
  }
}

.types__section {
  display: flex;
  width: 25%;
  height: 100%;
  padding: 20px 10px;

  font-family: $font-angst;
  color: $color-white;
  font-size: 22px;
  font-style: normal;
  font-weight: 60;
  line-height: 120%;
  text-align: left;
  /* 26.4px */

  border-right: 1px solid rgba($color: $color-white, $alpha: 0.2);

  cursor: pointer;

  transition: background-color 0.2s ease-in, color 0.2s ease-in;

  &:hover {
    background-color: rgba($color: $color-white, $alpha: 0.1);
  }

  &:last-child {
    border-right: none;
  }
}

.types__section-name {
  margin-top: auto;
}

@include mediaTablet {
  .types {
    margin-top: 98px;
  }

  .types__inner {
    flex-direction: column;
    background-image: none;
    gap: 10px;
    height: 1000px;

    &.img1 {
      background-image: none;
    }

    &.img2 {
      background-image: none;
    }

    &.img3 {
      background-image: none;
    }

    &.img4 {
      background-image: none;
    }

    &.img5 {
      background-image: none;
    }
  }

  .types__section {
    position: relative;
    width: 100%;

    border: none;

    background-position: center center; // x y
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: $border-radius;

    transition: background-color 0.2s ease-in, color 0.2s ease-in;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.0);
      transition: all 0.2s ease-in;
    }

    &.first {
      background-image: url('./../img/types/idin-architects-ka-house4.png');
    }

    &.second {
      background-image: url('./../img/types/idin-architects-ka-house5.png');
    }

    &.third {
      background-image: url('./../img/types/idin-architects-ka-house3.png');
    }

    &.fourth {
      background-image: url('./../img/types/idin-architects-ka-house2.png');
    }

    &.fifth {
      background-image: url('./../img/types/idin-architects-ka-house1.png');
    }

  }

  .types__section:hover::after {
    background-color: rgba($color: $color-white, $alpha: 0.1);
  }
}

@include mediaMobile {
  .types__inner {
    height: 670px;
  }

  .types__section {
    padding: 20px;
  }
}