$font-winston: Winston, Arial, Helvetica, sans-serif;
$font-angst: Angst, 'Times New Roman', Times, serif;

$color-bg: #181D24;
$color-black: #12151B;
$color-white: #fff;
$color-accent: #CCA07A;
$color-gray: #929196;
$color-biege: #F9F0EC;
$color-red: #F61212;

$border-radius: 10px;

// Media
$laptop: 1440px;
$tablet: 1048px;
$tablet-extra: 900px;
$mobile: 700px;